<div class="section" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Practice School Division</h1>
        <h4 class="light red-text text-lighten-4 center-on-small-only">{{company.name}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
				<p>Academic year: 2015 - 2016<br/>Semester: 1<sup>st</sup><br/></p>
				<div class= "row">
					<div class="col s12 m9 l10">
				<div class="row">
					<form>
						<div class="input-field">
							<input id="search" type="search" placeholder="Search Project Title or Student..." required ng-model="searchProject">
						</div>
						<select ng-model="filterByArea" ng-options="subArea for subArea in subAreas" style="display:block">
							
				    	</select>
					</form>
				</div>
				<ul ng-repeat = "project in projects|filter:searchProject|filter:filterByArea " class="collapsible" data-collapsible="expandable">
					<li class="card-panel">
						<div style="font-size:medium; font-weight: bold">{{ project.projectTitle }}</div>
						<div>
							<div class="row">
								<div class="col s5">Name</div>
								<div class="col s7">{{ project.name }}</div>
							</div>
							<div class="row">
								<div class="col s5">ID Number</div>
								<div class="col s7">{{ project.idno }}</div>
							</div>
							<div class="row">
								<div class="col s5">Broad-Area</div>
								<div class="col s7">{{ project.broadArea }}</div>
							</div>
							<div class="row">
								<div class="col s5">Sub-Area</div>
								<div class="col s7">{{ project.subArea }}</div>
							</div>
							<div class="row">
								<div class="col s5">Objective of work</div>
								<div class="col s7">{{ project.objective | limitTo: 220 }}{{project.objective.length > 220 ? '...' : ''}}
									<div style="margin-top:15px"><a class="waves-effect waves-green btn" href="" ng-click="expand(project)">More Information</a></div></div>
							</div>
							
							<div class="row">
								<p> {{ project.body }} </p>
								<!--<p><a href="#!">Download Synopsis</a></p>-->
							</div>
						</div>
					</li>
				</ul>

				<div class="loading" ng-show="startLoading">
					  <div class="loading-bar"></div>
					  <div class="loading-bar"></div>
					  <div class="loading-bar"></div>
					  <div class="loading-bar"></div>
					</div>
				</div>
				<div class="col hide-on-small-only m3 l2">
			      <div class="toc-wrapper pin-top" style="top: 0px;">
			      	<!--
			        <div style="height: 1px;">
			          <ul class="section table-of-contents">
			            <li><a href="#tables" class="active">Borderless</a></li>
			            <li><a href="#bordered" class="">Bordered</a></li>
			            <li><a href="#striped" class="">Striped</a></li>
			            <li><a href="#highlight" class="">highlight</a></li>
			            <li><a href="#centered" class="">Centered</a></li>
			            <li><a href="#responsive" class="">Responsive</a></li>
			          </ul>
			        </div>
			    -->
			      </div>
			    </div>
			</div>
</div>
				<div ng-show="showModal" class="modal bottom-sheet" style="z-index: 1005; display: block; opacity: 1; bottom: 0px; box-shadow:0px; 0 1px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21); width:90%; margin:auto; height:550px; max-height:80%">
 		<div class="modal-footer">
      <a ng-click = "closeModal()" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
    <div class="modal-content">
      <h5>Objective</h5>
      <p>{{objective}}</p>
      <h5>Nature of work</h5>
      <p>{{natureOfWork}}</p>
      <h5 ng-show="showNewsletter">Experience</h5>
      <p>{{newsletter}}</p>
      <h5>Contribution to organisation</h5>
      <p>{{projectContribution}}</p>
      <h5>Summary</h5>
      <p>{{summary}}</p>
      <h5>Furture Scope</h5>
      <p>{{futureScope}}</p>
    </div>
  </div>
 	<div ng-click="closeModal()" ng-show="showModal" class="lean-overlay" id="materialize-lean-overlay-2" style="z-index: 1002; display: block; opacity: 0.5;"></div>