
				<div class="row">
					<ul class="collection">
						<a href=""><li class="collection-item hoverable">Mechanical</li></a>
						<a href=""><li class="collection-item hoverable">Civil</li></a>
						<a href=""><li class="collection-item hoverable">Electronics</li></a>
						<a href=""><li class="collection-item hoverable">Computer Science/IT</li></a>
						<a href=""><li class="collection-item hoverable">Finance</li></a>
						<a href=""><li class="collection-item hoverable">Economics</li></a>
						<a href=""><li class="collection-item hoverable">Science</li></a>
					</ul>
				</div>