<br/><h4 class="header">Companies in {{ domain.name }} domain</h5><br/>
 <ul>
 					<li class= "companyList" ng-repeat = "company in companies">
 						<div class="companyName" style="font-size:medium; font-weight: bold">{{ company.name }}</div>
 						<div>
 							<div class="row companyEditable">
 								<p ><a class="waves-effect waves-green btn-flat" ui-sref = "company({cid:'{{company._id}}'})" href="#">Show Projects</a><a class="waves-effect waves-green btn-flat" ng-click="expand(company)" style="margin-left:5px;">Company Details</a></p>
 							</div>
 						</div>
 						<!-- Modal Structure -->
 					</li>
 			</ul>
 			<div ng-show="showModal" class="modal bottom-sheet" style="z-index: 1005; display: block; opacity: 1; bottom: 0px; box-shadow:0px; 0 1px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21); width:90%; margin:auto; height:550px; max-height:80%">
 		<div class="modal-footer">
      <a ng-click = "closeModal()" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
    <div class="modal-content">
      <h4>{{modalHeader}}</h4>
      <p style="font-size:medium;" >Stipend: Rs. {{ stipend }}</p>
      <p>{{editable}}</p>
      <a ui-sref = "companyEdit({ceid:companyId})">Edit</a>
    </div>
  </div>
 	<div ng-click="closeModal()" ng-show="showModal" class="lean-overlay" id="materialize-lean-overlay-2" style="z-index: 1002; display: block; opacity: 0.5;"></div>
