<!DOCTYPE html>
<html>
	<head>
		<title>PS-Division Homepage</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">

		<script type="text/javascript" src="/js/bundle.js"></script>
		
	</head>
	<body ng-app="psd">
		<nav class="blue darken-3">
			<div class="nav-wrapper container">
				<a href="#!" class="left brand-logo">PS Division</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="http://psd.bits-pilani.ac.in/">PSD Website</a></li>
					<!--<li><a href="#">Faculty Details</a></li>-->
					<li><a href="#">Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="#">Link if necessary</a></li>
					<li><a href="#">Another link</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</nav>
		<div class="row">
			<!--
			<div class="col s12 m5 offset-m2 l5 offset-l2">
				<div class="row">
					<ul class="collection">
						<a href=""><li class="collection-item hoverable">Mechanical</li></a>
						<a href=""><li class="collection-item hoverable">Civil</li></a>
						<a href=""><li class="collection-item hoverable">Electronics</li></a>
						<a href=""><li class="collection-item hoverable">Computer Science/IT</li></a>
						<a href=""><li class="collection-item hoverable">Finance</li></a>
						<a href=""><li class="collection-item hoverable">Economics</li></a>
						<a href=""><li class="collection-item hoverable">Science</li></a>
					</ul>
				</div>
			</div>
		-->
		<div class="col s12 m5 offset-m2 l5 offset-l2">
			<div class="row" ui-view>
			</div>
		</div>
			<div ng-controller="sideBar" class="col m3 offset-l1 hide-on-small-and-down">
				<div class="row">
					<form>
						<div class="input-field">
							<input id="search" type="search" placeholder="Search Comany Name..." required ng-model="search">
						</div>
					</form>
				</div>
				<div class="row">
					<ul class="collapsible" data-collapsible="expandable">
						
												<li class="companyListItem" ng-repeat = "company in companies|filter:search | orderBy:'name' "><a ui-sref="company({cid: '{{company._id}}'})">{{company.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<footer ng-controller="sideBar" class="page-footer blue darken-3">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Footer Content</h5>
						<p class="grey-text text-lighten-4">Content that can be added to the footer</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Most Viewed Companies</h5>
						<ul>
							<li class="companyListItem" ng-repeat = "company in mostViewed|limitTo:5"><a class="grey-text text-lighten-3" ui-sref="company({cid: '{{company._id}}'})"href="#!">{{company.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
				Developed by
				<a class="grey-text text-lighten-4" href="#!"> So many names here</a>
				</div>
			</div>
		</footer>
	</body>

</html>