<!DOCTYPE html>
<html>
	<head>
		<title>PS-Division Homepage</title> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./css/style.css">

		<script type="text/javascript" src="/js/bundle.js"></script>
		
	</head>
	<body ng-app="psd">

		<header ng-controller="sideBar" >
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
        <li class="logo" style="height:170px"><a style="height:170px"id="logo-container" href="#" class="brand-logo">
            <img src="https://lh5.googleusercontent.com/-E7KSRj3bf7A/AAAAAAAAAAI/AAAAAAAAA4E/KxtLp3TC8jA/s0-c-k-no-ns/photo.jpg" style="width:100%" /></a></li>
        <li class="search" style="margin-top:100px">
          <div class="search-wrapper card">
            <input type="search" placeholder="Search Comany Name..." ng-model="search" id="search"><i class="material-icons">search</i>
            <div class="search-results"></div>
          </div>
        </li>
        <li class="companyListItem" ng-repeat = "company in companies|filter:search | orderBy:'name' "><a ui-sref="company({cid: '{{company._id}}'})">{{company.name}}</a></li>
      </ul>
    </header>
    <main>
		<div ui-view>
			<!--
			<div class="col s12 m5 offset-m2 l5 offset-l2">
				<div class="row">
					<ul class="collection">
						<a href=""><li class="collection-item hoverable">Mechanical</li></a>
						<a href=""><li class="collection-item hoverable">Civil</li></a>
						<a href=""><li class="collection-item hoverable">Electronics</li></a>
						<a href=""><li class="collection-item hoverable">Computer Science/IT</li></a>
						<a href=""><li class="collection-item hoverable">Finance</li></a>
						<a href=""><li class="collection-item hoverable">Economics</li></a>
						<a href=""><li class="collection-item hoverable">Science</li></a>
					</ul>
				</div>
			</div>
		-->
		</div>
	</main>
		<footer ng-controller="sideBar" class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">PSD Information Website</h5>
						<p class="grey-text text-lighten-4">Made with ♥ in BITS Pilani, Goa Campus</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Most Viewed Companies</h5>
						<ul>
							<li class="btn waves-effect waves-light red lighten-3" style="margin-bottom:5px" ng-repeat = "company in mostViewed|limitTo:5"><a class="grey-text text-lighten-3" ui-sref="company({cid: '{{company._id}}'})"href="#!">{{company.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
				Developed by
				<a class="grey-text text-lighten-4" href="#!"> So many names here</a>
				</div>
			</div>
		</footer>
	</body>

</html>